@utility field {
  height: 2.5rem;
  border-radius: 0.75rem;
  border-width: 1px;
  border-color: rgb(203 213 225);
  background-color: white;
  padding-inline: 0.75rem;
  font-size: 0.875rem;
  outline: none;
}

@utility button-primary {
  display: inline-flex;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(37 99 235);
  padding-inline: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
}

@utility button-secondary {
  display: inline-flex;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(203 213 225);
  padding-inline: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
}

@utility button-danger {
  display: inline-flex;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(253 164 175);
  padding-inline: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(225 29 72);
}
